.btn-back {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: 600;
}

.btn-back svg {
    margin-right: 5px; 
}

.btn-back:hover {
    color: #777;
  }