@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
  --color-primary: rgb(198, 153, 99);
  --color-primary-dark: #b28451;
  --color-secondary: #101d2c;

  --color-grey-light-1: #f9f7f6;
  --color-grey-light-2: #aaa;
  --color-grey-light-3: rgb(195, 195, 195);

  --color-grey-dark-1: #54483a;
  --color-grey-dark-2: #6d5d4b;

  --shadow: 0 4rem 10rem rgba(198, 153, 99, 0.055);

  --line: 1px solid var(--color-primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
}

p {
  line-height: 1.9;
}

ul {
  list-style: none;
}

.container {
  max-width: 120rem;
  width: 100%;
  min-height: 70vh;
  margin: 8rem auto;
  padding: 0 2rem;
}

footer {
  position: sticky;
  top: 95vh;
  text-align: center;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .container {
    min-width: 100vw;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: var(--color-secondary);
  }
}

@media (max-width: 600px) {
  html {
    font-size: 45%;
  }
  .container {
    min-width: 40rem;
  }
}
